*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 0.9rem;
  //1 rem = 10px; 10px/16px = 62.5%
  box-sizing: border-box;
  background: $background-color;
  height: 100%;
  min-height: 100%;

  @media #{$mq-760-up} {
    font-size: 1.15rem;
  }

  @media #{$mq-425-up} {
    font-size: 1.1rem;
  }
}
