// transition: 0.5s ease-in; <--- Find a way to add this in JavaScript

.btn {
  border: none;
  font-family: 'fira sans', serif;
  font-weight: 400;
  padding: 0.8rem 1.8rem;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;

  &--green {
    background-color: transparent;
    border: 3px $weird-green solid;
    color: $white-font;

    &:hover {
      background-color: $neon-green;
      color: $weird-font;
    }
  }

  &--white {
    background-color: transparent;
    border: 3px $white solid;
    color: $weird-font;

    &:hover {
      background-color: $neon-green;
      color: $dblue-font;
    }
  }

  @media #{$mq-425-up} {
    padding: 0.8rem 1.8rem;
  }
}

button.frm__btn {
  border: none;
  font-family: 'fira sans', serif;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 1.1rem 9rem;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  float: right;

  &--weird {
    background-color: $neon-green;
    color: $dblue-font;

    &:hover {
      background-color: $weird-green;
      color: $white-font;
    }
  }
}
