// back-ground-colors

$background-color: #1d303f;
$dark-blue: #1d303f;
$white: #ffff;
$dark-gray: #61676b;
$neon-green: #bfe99e;
$weird-green: #37b088;

//font colors
$dblue-font: #1d303f;
$weird-font: #37b088;
$white-font: #ffffff;
$ngreen-font: #bfe99e;
$lgray-font: #e5e5e5;
$dgray-font: #61676b;

//special case
$success: #28a745;
$alert: #dc3545;
