// ------------------------------------------------
// sub header
.sub__header {
  max-width: 80%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.logo__box {
  position: relative;
}

.logo__name {
  height: 3rem;
  width: 10rem;
}

// ------------------------------------------------
// section About

.about__section {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;

  @media #{$mq-620-down} {
    display: block;
    padding-top: 30px;
  }
}

.about__story {
  align-self: center;

  @media #{$mq-425-down} {
    margin: 0 auto;
    width: 80%;
  }
}

.about__content {
  width: 100%;
  margin-top: 10px;

  @media #{$mq-900-up} {
    font-size: 130%;
  }
}

.about__text {
  width: 90%;
  line-height: 1.7;
  letter-spacing: 0.044em;
}

.about__buttons {
  height: 64px;
}

// ------------------------------------------------
// section portfolio

.portfolio {
  width: 100%;
  height: 100%;
  // background-color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 19px;
  grid-row-gap: 19px;
}

.portfolio--work,
.work__1,
.work__2,
.work__3,
.work__4 {
  background: #c4c4c4;
  position: relative;
}

.work__1 {
  grid-area: 1 / 1 / 3 / 3;
}
.work__2 {
  grid-area: 1 / 3 / 3 / 5;
}
.work__3 {
  grid-area: 3 / 1 / 5 / 3;
}
.work__4 {
  grid-area: 3 / 3 / 5 / 5;
}

// ------------------------------------------------
// Footer Styling

.logo-link__footer {
  height: 50px;
  width: 50px;
  display: block;

  @media #{$mq-760-up} {
    width: 35px;
    height: 35px;
    display: block;
  }
}

.social__pack {
  width: 178px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.social__platforms {
  width: 178px;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.svg.social__link {
  transition: 0.3s ease-in;

  &:hover,
  &:active {
    filter: brightness(0) saturate(100%) invert(93%) sepia(10%) saturate(1329%)
      hue-rotate(39deg) brightness(102%) contrast(83%);
  }
}

.footer__link {
  &:link {
    font-family: 'fira sans', serif;
    color: $weird-font;
    text-decoration: none;
    margin-left: 1.4rem;
    cursor: pointer;
  }

  &:visited {
    color: $weird-green;
  }

  &:hover,
  &:active {
    color: $white;
  }
}

// ------------------------------------------------
// Main Links

.phone__link {
  &:link {
    font-family: 'Fira sans condensed', serif;
    color: $weird-font;
    text-decoration: none;
  }

  &:visited {
    color: $white-font;
  }

  &:hover,
  &:active {
    color: $weird-green;
  }
}

.nav__link {
  &:link,
  &:visited {
    font-family: 'fira sans', serif;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 0.1s, opacity 0.1s;
  }

  &:hover,
  &:active {
    color: $white-font;
  }

  &-green {
    color: $weird-font;
  }

  &-white {
    color: $white-font;
  }
}

// ------------------------------------------------
