.header {
  padding: 5%;
  width: 100%;
  position: absolute;
  top: 0;

  //   &__logo-box {  //incase I need edit logo box & logo
  //   }
}

.main__body {
  margin-top: 10rem;
  width: 100%;
  height: 19.2rem;
}

.footer {
  margin-top: 2rem;
  width: 100%;
  height: 250px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
}
