body {
  height: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

::selection {
  background-color: $ngreen-font;
  color: $dblue-font;
}

.header {
  grid-area: 1 / 2 / 2 / 12;
  display: flex;
  justify-content: space-between;
}

main.main {
  grid-area: 2 / 2 / 5 / 12;
  display: flex;
  justify-content: center;
}

main.container {
  grid-area: 2 / 2 / 5 / 12;
}

.footer {
  grid-area: 5 / 2 / 6 / 12;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
