/* fira-sans-regular - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../dist/font/fira-sans-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../dist/font/fira-sans-v10-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../dist/font/fira-sans-v10-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../dist/font/fira-sans-v10-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('../dist/font/fira-sans-v10-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../dist/font/fira-sans-v10-latin-regular.svg#FiraSans') format('svg'); /* Legacy iOS */
}

/* fira-sans-200 - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 200;
  src: url('../dist/font/fira-sans-v10-200-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../dist/font/fira-sans-v10-latin-200.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../dist/font/fira-sans-v10-latin-200.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('../dist/font/fira-sans-v10-latin-200.woff')
      format('woff'),
    /* Modern Browsers */ url('../dist/font/fira-sans-v10-latin-200.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../dist/font/fira-sans-v10-latin-200.svg#FiraSans') format('svg'); /* Legacy iOS */
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 200;
  line-height: 1.4;
  color: $weird-font;
  // -webkit-font-smoothing: antialiased;
}

P,
.list__item {
  font-size: 1rem;

  @media #{$mq-425-up} {
    font-size: 1rem;
  }

  @media #{$mq-760-up} {
    font-size: 1.5rem;
  }
}
