@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section__title-small {
  font-family: 'fira sans', sans-serif;
  font-size: 1.5rem;

  &-white {
    color: $white-font;
  }

  &-green {
    color: $ngreen-font;
  }

  &-blue {
    color: $dblue-font;
  }

  &-weird {
    color: $weird-font;
  }
}

.section__title-medium {
  font-family: 'fira sans', sans-serif;
  font-size: 1.7rem;

  &-white {
    color: $white-font;
  }

  &-green {
    color: $ngreen-font;
  }

  &-blue {
    color: $dblue-font;
  }

  &-weird {
    color: $weird-font;
  }

  @media #{$mq-425-up} {
    font-size: 2rem;
  }
}

.section__title-large {
  font-family: 'fira sans', sans-serif;
  font-size: 2.5rem;

  &-white {
    color: $white-font;
  }

  &-green {
    color: $ngreen-font;
  }

  &-blue {
    color: $dblue-font;
  }

  &-weird {
    color: $weird-font;
  }

  @media #{$mq-425-up} {
    font-size: 3rem;
  }
}
